QuanLyBanDia/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Entities" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tenTK" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pw" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="LoginResult" nillable="true" type="q1:eNhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNhanVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNhanVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="GetAllNhanVienResult" nillable="true" type="q2:ArrayOfeNhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNhanVienByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNhanVienByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="GetNhanVienByIDResult" nillable="true" type="q3:eNhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditNhanVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="nv" nillable="true" type="q4:eNhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditNhanVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditNhanVienResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNhanVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="nv" nillable="true" type="q5:eNhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNhanVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNhanVienResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNhanVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="nv" nillable="true" type="q6:eNhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNhanVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteNhanVienResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="GetAllDiaResult" nillable="true" type="q7:ArrayOfeDia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDiaTheLoai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="theloai" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDiaTheLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="GetAllDiaTheLoaiResult" nillable="true" type="q8:ArrayOfeDia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDiaByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDiaByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="GetDiaByIDResult" nillable="true" type="q9:eDia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchDia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ten" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="theLoai" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchDiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="SearchDiaResult" nillable="true" type="q10:ArrayOfeDia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="dia" nillable="true" type="q11:eDia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditDiaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="dia" nillable="true" type="q12:eDia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDiaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTheLoai">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTheLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="GetAllTheLoaiResult" nillable="true" type="q13:ArrayOfeTheLoai" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHoaDon">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="x" nillable="true" type="q14:eHoaDon" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="lst" nillable="true" type="q15:ArrayOfeChiTietHoaDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHoaDonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddHoaDonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHoaDon">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHoaDonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="GetAllHoaDonResult" nillable="true" type="q16:ArrayOfeHoaDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllChiTietHoaDon">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllChiTietHoaDonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="GetAllChiTietHoaDonResult" nillable="true" type="q17:ArrayOfeChiTietHoaDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>